<h1>SpaceX Mission Launch List</h1>

<app-missionfilter (yearSelected)="filterMissions($event)"></app-missionfilter>

<div *ngIf="!selectedMission" class="mission-list">
  <mat-card *ngFor="let mission of missions" (click)="onMissionClick(mission)" class="mission-card">
    <mat-card-header>
      <mat-card-title>{{ mission.mission_name }} ({{ mission.launch_year }})</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="mission.links.mission_patch_small" alt="Mission Patch">
    <mat-card-content>
      <p>{{ mission.details }}</p>
    </mat-card-content>
  </mat-card>
</div>

<app-missiondetails *ngIf="selectedMission" [mission]="selectedMission" (back)="onBack()"></app-missiondetails>


