<div *ngFor="let mission of missions">
    <h2>{{ mission.mission_name }} ({{ mission.launch_year }})</h2>
    <img [src]="mission.links.mission_patch_small" alt="Mission Patch">
    <p>{{ mission.details }}</p>
    <p>Rocket: {{ mission.rocket.rocket_name }} ({{ mission.rocket.rocket_type }})</p>
    <a [href]="mission.links.article_link" target="_blank">Article</a>
    <a [href]="mission.links.wikipedia" target="_blank">wikipedia</a>
    <a [href]="mission.links.video_link" target="_blank">Video</a>
</div>
